:root { 
--gray_400:#bcbcbc; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a2a2a2; 
--deep_purple_900:#372794; 
--gray_900:#222222; 
--blue_gray_500:#596e9b; 
--deep_purple_900_01:#362793; 
--gray_100:#f2f2f2; 
--black_900:#000000; 
--gray_500_01:#9c9b9b; 
--white_A700_01:#fdfdfd; 
--red_A400:#e70936; 
--deep_purple_A400:#573cfa; 
--indigo_900:#221473; 
--blue_gray_900:#33363f; 
--white_A700:#ffffff; 
}